@model IEnumerable<GameStoreApp.Models.Game>
@helper Truncate(string
input, int length)
{
    if (input.Length <= length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Utwórz nowy", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tytuł
        </th>
        <th>
            Kategoria
        </th>
        <th>
            Cena
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.GameID }) |
                @Html.ActionLink("Więcej", "Details", new { id = item.GameID }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.GameID })
            </td>
        </tr>
    }

</table>
